body{
    display: block;
    font-family: "Roboto", sans-serif;
    box-sizing: content-box;
    overflow-x:hidden;
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: center;
    background-attachment: fixed;
    position: relative;
    height: auto;
    overflow-x: hidden;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-image: url('bg.jpg');
    background-size: cover;
    background-clip: border-box;
    margin-bottom: 50px;
}
#nav_bar{
    position: fixed;
    top: 0%;
    z-index: 100;
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    width: 100vw;
    background-color: white;
    border-bottom: 2px solid rgb(228, 228, 228);
}
#link_nav_bar{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    transition: all 1.32s;
}
#link_nav_bar:hover{
    background-color: rgb(228, 228, 228);
}
#magasin{
    margin-left: 15px;
}
#search_div{
    flex-grow: 0.7;
    margin-right: 15px;
}
input{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: auto;
    font-size: 15px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(177, 164, 164);
    border-radius: 15px;
    background: transparent;
}
#link_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 10px;
    gap: 10px;
}
main{
    height: auto;
    width: 90%;
    padding: 15px 15px 25px 15px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid grey;
    border-radius: 15px;
    margin: 150px auto auto auto;
    background: transparent;
    backdrop-filter: blur(15px);
    box-shadow: -3px -3px 2px rgba(29, 27, 27, 0.5);
}
#container_product{
    display: grid;
    width: auto;
    grid-template-columns: 300px 300px 300px;
    row-gap: 20px;
    column-gap: 10px;
    height: fit-content;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}
#profile_mini{
    display: none;
    overflow: hidden;
    border-radius: 50%;
}
#profile{
    border-radius: 50%;
    overflow: hidden;
}
.composant {
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 15px;
}


.composant-image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
    
}
.animate {
    animation: animation_product 0.5s forwards; /* Apply animation only when class 'animate' is added */
}

.composant-content {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    transition: all 1.32s linear;
}
.composant{
    cursor: pointer;
}
.composant span:hover, .composant div:hover .composant span{
    opacity: 0.7;
}
.composant-title {
    font-size: 1em;
    margin: 0 0 10px 10px;
    font-weight: 500;
}

.composant-description {
    font-size: 0.8em;
    color: #555;
    margin: 0 0 20px 5px;
}
.material-symbols-outlined{
    color: #555;
}

.more{
    flex: 1;
    margin: auto;
}
a{
    text-decoration: none;
}
.addcoposant_form{
    padding-bottom: 15px;
}
@media screen and (max-width: 700px){
    body{
        overflow-y: scroll;
    }
    main{width: 100vw;}
    #container_product{
        min-width: 90%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        gap: 15px;
    }
    #add_remove_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }   
    #nav_bar{
        position: inherit;
        overflow-wrap: break-word;
    }
    #container_logoprof{
        min-width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }
#nav_bar {
    width: 100%; 
    display: flex;
    flex-direction: column;
    border: 2px solid  rgb(228, 228, 228);
}


#magasin {
    text-align: center;
    margin: 0 0 20px 0;
    padding: 0;
    width: 200px;
    height: fit-content;

}


#search_div {
    min-width: 90%;
    margin-bottom: 20px; /* Espace sous la barre de recherche */
}


#search_div input {
    min-width: 70%;
    padding: 10px;
    border: 2px solid  rgb(228, 228, 228);
    border-radius: 5px; 
}


#link_container {
    min-width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
#link_container a{
    min-width: 100%;
    text-align: center;
}
#link_nav_bar {
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}
#profile_mini{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
#profile_normal{
    display: none;
    overflow: hidden;
    width: fit-content;
    margin: auto;

}
    #profile{
        width: fit-content;
        border-radius: 50%;
        overflow: hidden;
    }

}

#composnat_h{
    font-size: medium;
    font-variant: small-caps;
    font-stretch:ultra-expanded;
}

@keyframes animation_product{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}